<hibernate-configuration>
<session-factory>
<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/ovchip</property>
<property name="hibernate.connection.username">postgres</property>
<property name="hibernate.connection.password">sand66</property>
<property name="hibernate.show_sql">false</property>
<property name="hibernate.format_sql">false</property>
<mapping class="nl.hu.dp.domain.Reiziger"/>
<mapping class="nl.hu.dp.domain.Adres"/>
<mapping class="nl.hu.dp.domain.OVChipkaart"/>
</session-factory>
</hibernate-configuration>